<div class="masthead bg-light text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    HamBees<br>Entwickler aus <span class="text-highlight">Leidenschaft</span>
                </h1>
                <hr>
            </div>
        </div>
    </div>
</div>

<section class="p-0" id="games">
    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
            <div
                class="col-md-6 col-sm-12"
                style="background-image: url('/public/assets/custom/img/portfolio/shortcuts.png'); background-size: cover;"
            >
                <a class="portfolio-box" style="height: 400px; margin: 0; max-width: none;" href="https://cosmos.psycho.unibas.ch/shortcuts/game">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Gedächtnisspiel
                            </div>
                            <div class="project-name">
                                Shortcuts
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-sm-12"
                 style="background-image: url('/public/assets/custom/img/portfolio/saiwa.png'); background-size: cover;"
            >
                <a class="portfolio-box" style="height: 400px; margin: 0; max-width: none;" href="https://saiwa-d891b.firebaseapp.com">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Space Mystery
                            </div>
                            <div class="project-name">
                                SAIWA
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Was zeichnet uns aus</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-rocket text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Jahre Erfahrung</h3>
                    <p class="text-muted mb-0">
                        Seit Jahren arbeitet unser Team zusammen.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-magic text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Atmosphäre</h3>
                    <p class="text-muted mb-0">
                        Der Kernfokus während der Entwicklung war das Erschaffen einer einzigartigen Spiel-Atmosphäre.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa fa-cube text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Innovative</h3>
                    <p class="text-muted mb-0">
                        Wir suchen in jedem Spiel etwas innovatives und erzielen so beim Spieler Einen WOW-Effekt.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Versiert</h3>
                    <p class="text-muted mb-0">
                        Unser Team besteht aus Spezialisten in unterschiedlichsten Gebieten.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="passion">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Leidenschaft</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    Unsere Leidenschaft treibt uns an. Liebe ins Detail.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Kontakt</h2>
                <hr class="my-4">
                <p class="mb-5"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mx-auto text-center">
                <h3>Anfragen</h3>
                <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                <p>
                    <a href="mailto:benikm91@gmail.com">benikm91@gmail.com</a>
                </p>
            </div>
            <div class="col-lg-4 mx-auto text-center">
                <h3>Stellenanfragen</h3>
                <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                <p>
                    <a href="mailto:benikm91@gmail.com">benikm91@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</section>