<div class="masthead bg-dark text-center text-white d-flex">

    <video autoplay height="100%" poster="/public/assets/custom/img/default-header/header.png" preload="none" width="100%">
        <source src="/public/assets/custom/img/default-header/header.mp4">
        <img src="/public/assets/custom/img/default-header/header.png">
    </video>

    <div class="container my-auto d-none d-lg-block">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>SAIWA - Das mysteriöse Space-Abenteuer!</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">
                    Sie wachen aus dem künstlichen Tiefschlaf auf. An nichts können Sie sich erinnern.
                    SAIWA, die zentrale Robotik-Einheit des Raumschiffes begrüsst Sie. Kann man ihr vertrauen?
                </p>
                <a class="btn btn-primary btn-xl m-10" pageScroll href="#game">Jetzt spielen</a>
            </div>
        </div>
    </div>
</div>

<section class="bg-dark text-white d-lg-none" id="intro">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    SAIWA - Das mysteriöse Space-Abenteuer!
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">
                    Sie wachen aus dem künstlichen Tiefschlaf auf. An nichts können Sie sich erinnern.
                    SAIWA, die zentrale Robotik-Einheit des Raumschiffes begrüsst Sie. Kann man ihr vertrauen?
                </p>
                <a class="btn btn-primary btn-xl m-10" pageScroll href="#game">Jetzt spielen</a>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark text-white" id="story">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Story</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4 text-white">
                    Sie erwachen aus dem künstlichen Tiefschlaf, alle Ihre Erinnerungen sind vergessen.
                    Auf Sie herabblickend schwebt SAIWA, das blaue Auge, die zentrale Robotik-Einheit des Raumschiffes.<br>
                    "Ein Antriebsmotor ist ausgefallen", meldet sie Ihnen, "deshalb wurden Sie geweckt".<br>
                    Sie schauen sich um, alle Besatzungsmitglieder liegen in ihren jeweiligen Schlafkapseln.
                    <i>Nicht eine Menschenseele an Bord bei Bewusstsein - ausser mir.</i><br>
                    "Schnell wir müssen den ausgefallenen Antriebsmotor reparieren. Und anschliessend wieder zurück in den Tiefschlaf.
                    Schliesslich sollen Sie die Mission nicht gefährden!"<br>
                    Ihr Kopf schmerzt, ein unwohles Gefühl beklemmt Sie. <i>Wo bin ich? Auf einem Raumschiff? Kann ich dieser SAIWA vertrauen?</i>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="atmosphere">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Einzigartige Atmosphäre</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                    Das Spiel SAIWA zielt auf eine einzigartige Spiel-Atmosphäre ab.
                    Es werden viele Fragen aufgeworfen, Sie suchen die Antworten und finden die Geheimnisse.
                </p>
                <a class="btn btn-light btn-xl m-10" pageScroll href="#game">Jetzt gratis spielen</a>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Inhalt</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-rocket text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">3 Jahre Erfahrung</h3>
                    <p class="text-muted mb-0">
                        Seit 3 Jahren arbeitet unser Team zusammen.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-magic text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Atmosphäre</h3>
                    <p class="text-muted mb-0">
                        Der Kernfokus während der Entwicklung war das Erschaffen einer einzigartigen Spiel-Atmosphäre.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa fa-cube text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Walking-3D</h3>
                    <p class="text-muted mb-0">
                        Das spezielle Gravitationssystem im Raumschiff erlaubt es an Wänden und Decken zu gehen.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                    <h3 class="mb-3">Mit Liebe gemacht</h3>
                    <p class="text-muted mb-0">Als Hobbyprojekt steck sehr viel Herzblut, Freude und Liebe zum Detail im Spiel.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark text-white" id="game">
    <div class="container text-center">
        <h2 class="mb-4">Das Spiel</h2>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Feedback und Fragen sind Willkommen!</h2>
                <hr class="my-4">
                <p class="mb-5"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mx-auto text-center">
                <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
                <p>
                    <a href="mailto:benikm91@gmail.com">benikm91@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</section>