@import "vars.scss";

#mainNav {
  background-color: rgba($primary-color, 0.33) !important;
}

.navbar-light .navbar-toggler {
  color: white;
}

.logo {
  height: 60px;
}

.m-10 {
  margin: 10px;
}

.text-highlight {
  color: $highlight-color;
}

.masthead {
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: url("/public/assets/custom/img/home/header.jpg") center center;
  background-size: cover;
}

@media (max-width: 992px) {
  h1 {
    font-size: 24px;
  }
  #mainNav {
    background-color: black !important;
  }
  section {
    padding: 4rem 0;
  }
}